*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "poppins";
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    background: #072019;
}
.navbar h2{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 0px 20px;

}
.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.navmenu li{
    display: inline-block;
}
.navmenu li a{
    color: #fff;
    margin-right: 20px;
    padding: 0px 12px;
    font-size: 18px;
    font-weight: 500;
}
.search-box .search{
    padding: 12px 8px;
    border-radius: 50px;
    font-size: 1rem;
    border: none;
}
.search-box .icon{
    color: #fff;
    position: relative;
    right:50px;
    top:15px;
    background-color: #0b910b;
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
}
header{
    background-image: url("../images/HD-wallpaper-book-read-page-leaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.main-header{
    width: 75%;
    position: relative;
    left:10%;
    top:10%;
    color: #fff;

}
.main-header h5{
    font-size: 22px;
    font-weight: 550;
}
.main-header h2{
    font-size: 48px;
    width: 340px;
    margin-top: 10px;
    margin-bottom: 24px;
}
.main-header p{
    margin-bottom: 60px;
    width: 340px;
}
.main-header .btn{
    background-color:#0b910b;
    border: 1px solid #0b910b;
    font-size: 24px;
    color:#fff;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all 0.5s;
}
.main-header .btn:hover{
    color: #0b910b;
    background: #fff;
}
/* categories */
.categories {
    padding: 2rem;
}

.cat-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cat-header {
    text-align: center;
    margin-bottom: 2rem;
}

.cat-header h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cat-header p {
    font-size: 1rem;
    color: #777;
}

.cat-books {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    justify-content: center;
}

.books {
    margin: 1rem;
    width: 150px; /* Default width for desktop */
    text-align: center;
}

.book-img img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.books h4 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .cat-books{
        grid-template-columns: repeat(2,1fr);
    }
    .books {
        width: 200px; 
    }

    .cat-header h2 {
        font-size: 1.8rem;
    }

    .cat-header p {
        font-size: 0.9rem;
    }
}


@media (max-width: 480px) {
    .cat-header h2 {
        font-size: 1.5rem;
    }

    .cat-header p {
        font-size: 0.8rem;
    }

    .cat-books {
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap: 0px;
    }

    .books {
        width: 80%; 
    }
}


@media (min-width: 1200px) {
    .cat-books {
        justify-content: space-between;
    }

    .books {
        width: 180px; 
    }

    .cat-header h2 {
        font-size: 2.5rem;
    }

    .cat-header p {
        font-size: 1rem;
    }
}
.menubar #menu-icon{
    color: #fff;
    font-size: 30px;
    padding-right: 20px;
    position: absolute;
    top:22px;
    right: 40px;
    cursor: pointer;
}
/* About Section */
.set-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}
.set-row img{
    width: 680px;
    height: auto;
}
#about{
    background: #e7f0f3ac;
    width: 100%;
    padding: 80px 0px;
}
.set-row .about-content{
    padding-left: 30px;
    margin-bottom: 60px;
}
.set-row .about-content h2{
    font-size: 20px;
    padding-bottom: 20px;
}
.set-row .about-content p{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 46px;
}
.set-row .about-content .btn2{
    background-color:#0b910b;
    border: 1px solid #0b910b;
    font-size: 24px;
    color:#fff;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all 0.5s;
}
.set-row .about-content .btn2:hover{
    background-color: #fff;
    color: #0b910b;
}
/* Contact Section */
#contact{
    background-color: #e7f0f3ac;
    width: 100%;
}
.contact-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    padding-top:40px;
}
.contact-row form{
    width: 450px;
    padding: 12px 0;
}
.contact-row form input,textarea{
    width: 100%;
    height:40px;
    margin-top: 20px;
    padding: 6px 0;
    text-indent: 10px;
    font-size: 18px;
    background-color: #e7f0f3ac;

}
.contact-row form input::placeholder,textarea::placeholder{
    color: #000;
}
.contact-row form input[type="submit"]{
    text-align: center;
    height: 50px;
    cursor: pointer;
    background-color: #0b910b;
    color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
}
.contact-row form input[type="submit"]:hover{
    border: 1px solid #0b910b;
    color: #0b910b;
    background-color: #fff;
}
.contact-row .col img{
    width: 400px;
    padding-left: 20px;    
}
.contact-row .col h2{
    font-size: 24px;
    font-weight: 600px;    
}
/* Footer */
.footer{
    background-color: #fff;
    padding: 26px 20px;
    text-align: center;
    font-size: 20px;
}
/* Responsive */
@media(max-width:1420px){
    .set-row{
        display: block;
    }
    .contact-row{
        display: block;
    }
}
@media(max-width:991px){
    .navmenu{
        display: block;
        position: absolute;
        right: 100%;
        top:10%;
        width:300px;
        height: auto;
        background-color: #072019;
    }
    .navmenu li{
        display: block;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .search-box{
        text-align: center;
        margin-left: 40px;
        margin-bottom: 30px;
    }
    .navmenu.open{
        right: 0;
    }
    .cat-books .books .book-img{
        position: relative;
        left: 25%;
    }
    .main-header h2{
        font-size: 35px;
    }
    .main-header p{
        padding-bottom: 20px;
    }
    .set-row{
        display: block;
    }
    .set-row img{
        width: 400px;
        height: auto;
    }
    .set-row .col{
        padding-top: 20px;
        width: 380px;
        position: relative;
    }
    .set-row img{
        width: 480px;
        height: auto;
    }
    .set-row .col{
        width: 420px;
    }
    .set-row .col img{
        width: 100%;
    }
    .contact-row form{
        width: 350px;
    }
    .contact-row .col img{
        width: 430px;
        height: auto;
        padding-left: 0px;
    } 
}
@media(max-width:890px){
    .main-header{
        width: 100%;
        display: block;
        align-items: center;
        text-align: center;
        margin: 50px 0px;
    }
    .main-header h2{
        width: 100%;
    }
    .main-header p{
        margin-bottom: 20px;
    }
    .set-row .about-content h2{
        font-size: 28px;
        padding-bottom: 20px;
    }
    .set-row .about-content p{
        width: 300px;
    }
    .set-row .col{
        width: 350px;
    }
    .contact-row .col img{
        width: 320px;
        height: auto;
        padding-left: 0px;
    }
    .contact-row form input{
        height: 20px;
    }
}
@media(max-width:460px){
    section{
        padding-top: 10px;
    }
    .set-row img{
        width: 300px;
        height: auto;
    }
    .set-row .col{
        width: 200px;
    }
    .main-header h2{
        font-size: 1rem;
    }
    .contact-row .col{
        width: 300px;
    }
    .contact-row form input{
        width: 200px;
    }
    .contact-row .col #text-area{
        width: 200px;
    }
    .contact-row .col img{
        width: 300px;
    }
    .set-row .about-content p{
        width: 200px;
    }
}


